/* Place CSS styles here */

body {
    color: rgb(28, 1, 20);
    background-color:rgb(246, 190, 213);
    font-family: "Kadwa", serif; 
    text-align: center;
  
}
*{box-sizing: border-box;}
p {color: rgb(76, 2, 47);}

.ingredients{
    padding-left: 30px;
    text-align: left;
   display:inline-block
   
}
header{
    color: rgb(66, 9, 81);
    font-family: 'Courier New', Courier, monospace;
}
.main-div-parent{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.banner{
    background-color: rgb(148, 148, 196);
    color: rgb(25, 25, 54);
    display: inline-flex;
}